<h1>Tweet: <%= @tweet.content %></h1>

  <form action="/tweets/<%= @tweet.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit" value="delete">Delete Tweet</button>
  </form>

  <h5><a href='/logout'>Logout</a></h5>
  <h5><a href='/tweets/<%=@tweet.id%>/edit'>Edit Tweet</a></h5>
  <h5><a href='/tweets/<%=@tweet.id%>'>Delete Tweet</a></h5>
